<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.yavdr.yadroid" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="4" />

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:name=".core.YaVDRApplication">
		<activity android:name=".Splash" android:label="@string/app_name"
			android:theme="@style/Theme.Transparent" android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="EpgOverview" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="org.yavdr.yadroid.intent.action.START" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name=".EpgDetail" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="org.yavdr.yadroid.intent.action.EPGDETAIL" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

        <!-- Push -->
        <activity android:name=".Menu" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="org.yavdr.yadroid.intent.action.MENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		<activity android:name=".Message" android:theme="@style/Theme.Transparent" android:launchMode="singleInstance">
			<intent-filter>
				<action android:name="org.yavdr.yadroid.intent.vdr.OsdChannel" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<service android:name=".services.VdrService" />
		<service android:name=".services.ZeroConfService" />
		<service android:name=".services.PushService" />

		<!-- Search -->
		<activity android:name=".GlobalSearchHandler" android:label="@string/app_name"
			android:icon="@drawable/icon">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<meta-data android:name="android.app.searchable"
				android:resource="@xml/searchable" />
		</activity>

		<provider android:name=".provider.SearchProvider"
			android:authorities="org.yavdr.yadroid.search" android:syncable="false" />

	</application>
</manifest>